@font-face {
    font-family: 'Segoe UI';
    src: url('~@/assets/fonts/SegoeUI.eot');
    src: url('~@/assets/fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
        url('~@/assets/fonts/SegoeUI.woff2') format('woff2'),
        url('~@/assets/fonts/SegoeUI.woff') format('woff'),
        url('~@/assets/fonts/SegoeUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
